* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
};

/* Header */
nav {
  color: white;
  font-size: 46px;
  text-align: center;
}

.page-title {
  margin-top: 20px;
  color: white;
  background-image: linear-gradient(to right,blue ,black);
  padding-top: 5px;
  padding-bottom: 5px;
}

.title-center {
  text-align: center;
  font-weight: bold;
}

#search-section {
  background-color: lightskyblue
}

.city {
  border: none;
}

.card-city {
  border: none;
}
 
.main-container {
 padding-bottom: 20px;
}

.row-blue {
  background-color: teal;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: large;
}

.row-blue h5 {
  font-size: larger;
  font-weight: bold;
  margin-left: 15px;
}